:root
{
    --primary-text-color: #212121;/* колір основного тексту */
    --accent-color:  #2196F3;/* колір ховеру */
    --accent-text-color: #757575;/* колір допоміжного тексту */
    --background-color: #F5F4FA;/* колір допоміжного фону */
    --white-color: #ffffff;/* білий */
    --background-primery: #2F303A;

}

body
{
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

.title
{
font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
/* ==================HEDER================== */
.logo
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-color-heder
{
    color: var(--primary-text-color);
}

.heder
{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
}

.sait-nav-link
{  
    color: var(--primary-text-color);
}

.sait-nav-link:hover,
.sait-nav-link:focus,
.sait-nav-link-current
{
    color: var(--accent-color);
}

.adress-heder-link
{
    font-style: normal;
    color: var(--accent-text-color);
}

.adress-heder-link:hover,
.adress-heder-link:focus
{
    color: var(--accent-color);
}
/* ================END HEDER================ */
/* ==================HERO================== */
.hero-section
{
    background: var(--background-primery);
}
.hero-title
{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

}
.hero-button
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: var(--accent-color);
}
/* ================END HERO================ */
/* =============SPECIALIZATION============= */

.specionalization-item-title
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color)
}
.specionalization-item-text
{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}
/* ===========END SPECIALIZATION=========== */
/* ================COMMANND================ */
.command
{
    background: #F5F4FA;
}
.command-list-name
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.command-list-position
{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}
/* ==============END COMMANND============== */
/* ================FOOTER================ */
.footer
{
    background: var(--background-primery);
}
.logo-footer
{
    color: var(--white-color);
}
.adress-street-link
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.adress-footer-link
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* ==============END FOOTER============== */
/* ===============BUTTONS================ */

.buttons-item
{
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.buttons-item:hover,
.buttons-item:focus
{
    background: var(--accent-color);
    color: var(--white-color);
}

/* =============END BUTTONS============== */
/* ===============CARDS================ */

.card-titel
{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.card-text
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

